NODE_ENV = development

PORT = 5000

MONGO_URI = mongodb://127.0.0.1:27017/contacts-app

REFRESH_TOKEN_SECRET = <YOUR_LONG_SECRET_REFRESH_TOKEN>
REFRESH_TOKEN_EXPIRY = <YOUR_REFRESH_TOKEN_EXPIRY>

ACCESS_TOKEN_SECRET = <YOUR_LONG_SECRET_ACCESS_TOKEN>
ACCESS_TOKEN_EXPIRY = <YOUR_ACCESS_TOKEN_EXPIRY>

SMTP_HOST = <YOUR_SMTP_HOST>
SMTP_MAIL = <YOUR_SMTP_EMAIL>
SMTP_PASS = <YOUR_SMTP_PASSWORD>